.inner {
	display: flex;
	flex-direction: column;
	row-gap: fluid(40, 30);
}

.culturesList {
	margin-top: 30px;

	@include mobile {
		margin-top: 25px;
	}

	h5 {
		letter-spacing: 0.6px;
		font-size: 16px;
		text-transform: uppercase;
		color: #9d9d9d;
		margin-bottom: 10px;
		font-weight: 400;

		@include mobile {
			letter-spacing: 0;
		}
	}
}
