div.contactsPageContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .titleContacts {
    @media (max-width: 768px) {
      font-size: 32px;
      font-weight: 500;
      margin-bottom: 20px;
    }
  }
  .aboutMap {
    margin-bottom: 30px;
    width: 100%;
    height: 620px;
  }
}
