.sideMenu {
	min-width: 205px;
	width: 205px;
	display: flex;
	flex-direction: column;
	row-gap: 28px;

	@include mobile {
		display: block;
		background: var(--color-white);
		width: 100%;
	}
}

.menuItem {
	a {
		color: #de0008;
		font-size: 18px;

		@include mobile {
			font-size: 20px;
		}

		@include hover {
			text-decoration: underline;
		}
	}

	.activeLink {
		color: inherit;
	}

	@include mobile {
		border-bottom: 7px solid #f2f5f8;
		padding: 15px 20px;
	}
}
