.homePage {
  h4 {
    color: #000;
    font-size: 50px;
    font-weight: 400;
  }

  :global {
    section._bordered {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 908px;
        height: 17px;
        left: 50%;
        transform: translateX(-50%);
        background: url("data:image/svg+xml,%3Csvg width='908' height='17' viewBox='0 0 908 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 8.29688L416.393 8.29687' stroke='url(%23paint0_linear_1249_609)'/%3E%3Cpath d='M491.531 8.29688L907.925 8.29687' stroke='url(%23paint1_linear_1249_609)'/%3E%3Cpath d='M453.767 0.53125L446 8.29873L453.767 16.0662L461.535 8.29873L453.767 0.53125Z' fill='%23DD0A15'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_1249_609' x1='40.0333' y1='1.36094e+14' x2='416.427' y2='1.36094e+14' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237A3816' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%237A3816'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear_1249_609' x1='491.539' y1='6.69313e+13' x2='867.933' y2='6.69313e+13' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%237A3816'/%3E%3Cstop offset='1' stop-color='%237A3816' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A") no-repeat;
        @media (max-width: 768px) {
          width: 237px;
          height: 7px;
          background: url('data:image/svg+xml,<svg width="237" height="7" viewBox="0 0 237 7" fill="none" xmlns="http://www.w3.org/2000/svg"><line y1="3.5" x2="100" y2="3.5" stroke="%23A8A8A8"/><line x1="137" y1="3.5" x2="237" y2="3.5" stroke="%23A8A8A8"/><circle cx="118.5" cy="3.5" r="3.5" fill="%23DD0A15"/></svg>') no-repeat;
        }
      }
    }
  }
}


