.cultureElem {
	display: flex;
	flex-direction: column;
	row-gap: fluid(15, 10);
	padding: 25px fluid(25, 15);
	background: #f2f5f8;

	h6 {
		font-weight: 400;
		font-size: fluid(25, 22);
	}

	p {
		font-size: fluid(18, 16);
		line-height: 1.15;

		@include mobile {
			line-height: 1.42;
		}
	}

	a {
		font-size: fluid(18, 16);
		color: #de0008;
	}
}
