.filteredListWrapper {
	@include tablet {
		padding: 0 15px;
	}

	@include mobile {
		padding: 0 0 30px 0;
	}

	h4 {
		margin-bottom: 30px;
	}
}

.eventsList {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
}

.eventCard {
	width: fluid(300, 300);
	height: 460px;

	figure {
		& div {
			height: 205px;

			@include mobile {
				height: 255px;
			}
		}
	}

	@include mobile {
		height: auto;
	}

	figcaption {
		padding-block: 15px;

		@include mobile {
			padding-block: 28px;
		}
	}
}
