@use 'src/assets/styles/helpers' as *;

.newsSection {
  padding: 80px 0 97px;

  @include mobile {
    padding: 50px 0 37px;
  }

  .newsSliderBtns {
    @include mobile {
      top: 96px;
      width: 95%;
    }
  }
}

.newsSliderWrapper {
  position: relative;
  justify-content: center;
  column-gap: 15px;
  padding: 20px 0 20px 20px;
}

.newsSlide {
  width: 286px;
  min-height: 408px;

  @include mobile-s {
    min-height: 394px;
  }
}
