.navBanner {
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  position: relative;

  &::before,
  &::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #DD0A15;
    border-radius: 50%;
    position: absolute;

    @media(max-width: 768px) {
      width: 5px;
      height: 5px;
      border: 1px solid #DD0A15;
    }
  }

  &::before {
    bottom: 4px;
    left: -6px;

    @media(max-width: 768px) {
      bottom: 5px;
      left: -4px;
    }
  }

  &::after {
    bottom: 4px;
    right: -6px;

    @media(max-width: 768px) {
      bottom: 5px;
      right: -4px;
    }
  }

  @media (max-width: 768px) {
    order: 3;
    margin-inline: auto;
    height: 70px;
  }
}

.scene {
  width: 220px;
  height: 100%;

  @media (max-width: 768px) {
    width: 145px;
  }

}

.scene:nth-child(1) {
  background: url('../../../../assets/img/navBanner-img/scene-1.svg') center center / cover no-repeat;

  @media (max-width: 768px) {
    background-size: contain;
  }
}

.scene:nth-child(2) {
  background: url('../../../../assets/img/navBanner-img/scene-2.svg') center center / cover no-repeat;

  @media (max-width: 1070px) {
    visibility: hidden;
    opacity: 0;
    width: 0;
  }

  @media (max-width: 768px) {
    background-size: contain;
    display: block;
    visibility: visible;
    opacity: 1;
    width: 145px;
  }

  @media(max-width: 480px) {
    visibility: hidden;
    opacity: 0;
    width: 0;
  }
}

.scene:nth-child(3) {
  background: url('../../../../assets/img/navBanner-img/scene-3.svg') center center / cover no-repeat;

  @media (max-width: 1300px) {
    visibility: hidden;
    opacity: 0;
    width: 0;
  }

  @media (max-width: 768px) {
    background-size: contain;
    visibility: visible;
    opacity: 1;
    width: 145px;
  }
}

.scene:nth-child(4) {
  background: url('../../../../assets/img/navBanner-img/scene-4.svg') center center / cover no-repeat;

  @media (max-width: 1500px) {
    visibility: hidden;
    opacity: 0;
    width: 0;
  }
}

.scene:nth-child(5) {
  background: url('../../../../assets/img/navBanner-img/scene-5.svg') center center / cover no-repeat;

  @media (max-width: 1700px) {
    visibility: hidden;
    opacity: 0;
    width: 0;
  }
}

.scene:nth-child(6) {
  background: url('../../../../assets/img/navBanner-img/scene-6.svg') center center / cover no-repeat;


  @media (max-width: 1900px) {
    visibility: hidden;
    opacity: 0;
    width: 0;
  }
}
