.eventsSection {
	padding: 77px 0 108px;

	@include mobile {
		padding: 50px 0 55px;
	}

	.eventsSliderBtns {
		@include mobile {
			width: 95%;
		}
	}
}

.homeEventCard {
	:global {
		.event-item-img {
			height: 255px;
		}
	}
}
