@use 'src/assets/styles/helpers' as *;

.eventsSection {
  padding: 80px 0 97px;

  @include mobile {
    padding: 50px 0 37px;
  }

  .eventsSliderBtns {
    @include mobile {
      width: 95%;
    }
  }
}

.homeEventSlides {
  padding: 20px;
}

.homeEventCard {
  :global {
    .event-item-img {
      height: 255px;
    }
  }
}
